<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvNeNpfmSjEeMfTgvCWWfpFskU6-sEzHo</string>
	<key>GCM_SENDER_ID</key>
	<string>259540770770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wardrobeWhiz</string>
	<key>PROJECT_ID</key>
	<string>wardrobe-whiz-d6184</string>
	<key>STORAGE_BUCKET</key>
	<string>wardrobe-whiz-d6184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259540770770:ios:ec7e8b38c72bfd2c2bf20b</string>
	<key>DATABASE_URL</key>
	<string>https://wardrobe-whiz-d6184-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>